[submodule "modules/lume"]
	path = modules/lume
	url = https://github.com/rxi/lume
[submodule "modules/lurker"]
	path = modules/lurker
	url = git@github.com:rxi/lurker.git
[submodule "modules/bump"]
	path = modules/bump
	url = git@github.com:kikito/bump.lua.git
